
 <div>

     <md-button ng-click="createRoom()" ng-class="{ visible: true}" class="md-fab md-fab-top-right collinFab"  aria-label="create room" >
              +
    </md-button>

     <div>
            Most Popular
         </div>
     <div class="collinRow">
        <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Episode List</p>
          <ul>
                <li>Episode 1</li>
                <li>Episode 1</li>
                <li>Episode 1</li>
            </ul>
        </md-card-content>
<!--
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
-->
      </md-card>
         <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Most Recent Comments</p>
          <ul>
                <li>Collin: "Its ok ive seen better"</li>
                <li>Bruce: "I love this episode"</li>
                <li>Bruce: "One Punch Man is the best!"</li>
            </ul>
            <div class="collinRow-flex">
            <div class="collinCol-30 roomInfo">
                18 <br/>
                Viewers
            </div>
            <div class="collinCol-30 roomInfo">
                3 <br/>
                Likes
            </div>
            <div class="collinCol-30 roomInfo">
                200 <br/>
                Comments
            </div>
                </div>
        </md-card-content>
      </md-card>
         <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Most Recent Comments</p>
          <ul>
                <li>Collin: "Its ok ive seen better"</li>
                <li>Bruce: "I love this episode"</li>
                <li>Bruce: "One Punch Man is the best!"</li>
            </ul>
            <div class="collinRow-flex">
            <div class="collinCol-30 roomInfo">
                18 <br/>
                Viewers
            </div>
            <div class="collinCol-30 roomInfo">
                3 <br/>
                Likes
            </div>
            <div class="collinCol-30 roomInfo">
                200 <br/>
                Comments
            </div>
                </div>
        </md-card-content>
      </md-card>
         <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Most Recent Comments</p>
          <ul>
                <li>Collin: "Its ok ive seen better"</li>
                <li>Bruce: "I love this episode"</li>
                <li>Bruce: "One Punch Man is the best!"</li>
            </ul>
            <div class="collinRow-flex">
            <div class="collinCol-30 roomInfo">
                18 <br/>
                Viewers
            </div>
            <div class="collinCol-30 roomInfo">
                3 <br/>
                Likes
            </div>
            <div class="collinCol-30 roomInfo">
                200 <br/>
                Comments
            </div>
                </div>
        </md-card-content>
      </md-card>
         <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Most Recent Comments</p>
          <ul>
                <li>Collin: "Its ok ive seen better"</li>
                <li>Bruce: "I love this episode"</li>
                <li>Bruce: "One Punch Man is the best!"</li>
            </ul>
            <div class="collinRow-flex">
            <div class="collinCol-30 roomInfo">
                18 <br/>
                Viewers
            </div>
            <div class="collinCol-30 roomInfo">
                3 <br/>
                Likes
            </div>
            <div class="collinCol-30 roomInfo">
                200 <br/>
                Comments
            </div>
                </div>
        </md-card-content>
      </md-card>
         <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        
      </md-card>
     </div>
     
     <div class="collinRow">
        <md-card class="collinCol-30">
        <img src="../img/opm.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">One Punch Man!</span>
          </md-card-title-text>
        </md-card-title>
        
      </md-card>
     </div>
     
    <div flex ng-cloak>
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px" >

        <md-grid-tile ng-repeat="tile in tiles"
                    md-rowspan="{{tile.row}}"
                    md-colspan="{{tile.col}}"
                    md-colspan-sm="1"
                    md-colspan-xs="1"
                    ng-class="tile.background" ng-click="enterRoomNum(tile)">

            <object class="images" data="{{tile.imgsrc}}" type="image/png">
                <img class="images" src="http://www.clker.com/cliparts/b/d/f/U/p/W/sad-monkey-face-hi.png" />
            </object>
        <md-grid-tile-footer><h3>Room Name: {{tile.$id}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>

</div>

 </div>
<!--

-->
