.main-panel {
  z-index: -9999;
}
.youtube-video {
  position: absolute;
  margin: auto;
  left: 0px;
  top: 0px;
  z-index: -999;
  isolation: isolate;
}
.video {
  position: relative;
  overflow: hidden;
  height: 584px;
  text-align: right;
}
#progressBar {
  height: 6px;
  background-color: #444444;
  display: block;
  margin-top: 1px;
}
.w-85,
.w-15 {
  box-sizing: border-box;
  float: left;
}
.w-85 {
  width: 85%;
}
.w-15 {
  width: 15%;
}
.clr {
  clear: both;
}
.chat-input-box {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px !important;
  border-radius: 2px;
}
.chat-input-text {
  width: 100%;
}
.chat-submit-button {
  float: left;
  width: 50%;
}
.chat-minimium-button {
  float: right;
  width: 50%;
}
.button-cont {
  padding-left: 10px;
}
.movetxt {
  color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: difference;
  position: relative;
  white-space: nowrap;
  float: right;
  clear: both;
  -webkit-animation: moving 10s linear;
  animation: moving 10s linear;
  animation-fill-mode: forwards;
  z-index: -1;
}
.max-txt {
  color: white;
  position: relative;
  -webkit-animation: moving 10s linear;
  animation: moving 10s linear;
  animation-fill-mode: forwards;
}
@-webkit-keyframes moving {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 130%;
  }
}
@keyframes moving {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 130%;
  }
}
.video,
.chat-input-box,
#progressBar,
.controls,
.youtube-video {
  margin: auto;
  width: 800px;
}
.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
body {
  background-color: rgba(0, 0, 0, 0);
  z-index: -9999;
}
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%;
}
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gridListdemoDynamicTiles,
.s64 {
  font-size: 64px;
}
.gridListdemoDynamicTiles,
.s32 {
  font-size: 48px;
}
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0;
}
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px;
}
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px;
}
.gridListdemoDynamicTiles,
.gray {
  background: #f5f5f5;
}
.gridListdemoDynamicTiles,
.green {
  background: #b9f6ca;
}
.gridListdemoDynamicTiles,
.yellow {
  background: #ffff8d;
}
.gridListdemoDynamicTiles,
.blue {
  background: #84ffff;
}
.gridListdemoDynamicTiles,
.darkBlue {
  background: #80d8ff;
}
.gridListdemoDynamicTiles,
.deepBlue {
  background: #448aff;
}
.gridListdemoDynamicTiles,
.purple {
  background: #b388ff;
}
.gridListdemoDynamicTiles,
.lightPurple {
  background: #8c9eff;
}
.gridListdemoDynamicTiles,
.red {
  background: #ff8a80;
}
.gridListdemoDynamicTiles,
.pink {
  background: #ff80ab;
}
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms;
}
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px;
}
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%;
}
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.tabsdemoDynamicHeight md-content .md-fab.visible {
  transform: scale(1);
  transition: transform 0.3s linear;
}
.tabsdemoDynamicHeight md-content .md-fab {
  transform: scale(0);
  transition: transform 0.3s linear;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
  background: white;
}
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}
.images {
  height: 50% !important;
  width: 50% !important;
}
/* ----------- */
.tcenter {
  padding: 10px;
  text-align: center;
}
.collinFab {
  position: fixed !important;
  font-size: 2em;
}
.collinRow {
  display: box;
  display: -webkit-box;
  overflow-x: scroll;
}
.collinRow-flex {
  display: flex;
}
.collinCol-30 {
  width: 20%;
}
.collinCol-30 ul {
  list-style-type: none;
}
.roomInfo {
  text-align: center;
  width: 33% !important;
}
.dont-display {
  display: none;
}
.videoControls {
  text-align: center;
}
.videoControls span {
  display: block;
}
.faux-card {
  background-color: white;
  width: 800px;
  margin: 0 auto;
}
.videoInfo {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}
.videoInfo input {
  width: 80%;
}
.videoInfo a {
  width: 7%;
  font-size: 1.2em;
}
.videoInfo span {
  padding: 0 5px;
}
.br {
  display: block;
}
